<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TimbradoNomina.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <connectionStrings>
    <add name="cnxBaseNomina"
        connectionString="Data Source=192.168.20.9;Initial Catalog=GA_Nomina;user ID=sa;password=S0p0rt3"
        providerName="System.Data.SqlClient" />
  </connectionStrings>


  <appSettings>
    
    <add key="json" value="{'idEmpresa': '11','idTipo': '1','idUsuario':'1','path':'C:\\Users\\Hp\\Desktop\\Anterior\\TimbradoNomina\\xml\\Origen\\001\\09012017','nombreCarpeta':'09012017'}"/>
    <!--<add key="ipserver" value="192.168.50.92"/>-->
    <add key="ipserver" value="127.0.0.1"/>
    <!--<add key="ipserver" value="172.16.3.102"/>-->
    <add key="port" value="3800"/>
    <add key="reportUrl" value="http://192.168.20.89:5488/api/report"/>
    
    <add key="xsdNameSpace" value="http://www.sat.gob.mx/nomina"/>
    <add key="cfdiNameSpace" value="http://www.sat.gob.mx/cfd/3"/>
    
    <add key="xsdPath" value="C:\Users\SQLSERVER\Documents\Projects\timbrado\net\TimbradoNomina\TimbradoNomina\bin\Debug\Requerido\NominaSchema.xsd"/>
    <add key="xsltPath" value="C:\Users\SQLSERVER\Documents\Projects\timbrado\net\TimbradoNomina\TimbradoNomina\bin\Debug\Requerido\cadenaoriginal_3_3.xslt"/>
    
    <add key="requiredPath" value="C:\Users\SQLSERVER\Documents\Projects\timbrado\net\TimbradoNomina\TimbradoNomina\bin\Debug\Requerido\"/>
    <add key="opensslAppPath" value="C:\Program Files (x86)\GnuWin32\bin\openssl"/>
    
    <add key="qrSavePath" value="C:\Users\SQLSERVER\Documents\Projects\timbrado\net\TimbradoNomina\TimbradoNomina\bin\Debug\qrPath\"/>
    <add key="qrUrl" value="http://192.168.20.59:4300/images/nominaqr/"/>
  
  </appSettings>

  <applicationSettings>
    <TimbradoNomina.Properties.Settings>
      <setting name="TimbradoNomina_WSEdifact_timbrarCFDI" serializeAs="String">
        <value>https://www.edifactmx-pac.com:443/service/timbrarCFDI.php</value>
      </setting>
      <setting name="TimbradoNomina_WSCFDICancelacion_enviaAcuseCancelacion"
        serializeAs="String">
        <value>http://comprobantes-fiscales.com/service/cancelarCFDI.php</value>
      </setting>
      <setting name="TimbradoNomina_WSCFDI_timbrarCFDI" serializeAs="String">
        <value>http://comprobantes-fiscales.com/service/timbraCFDI.php</value>
      </setting>
    </TimbradoNomina.Properties.Settings>
  </applicationSettings>
</configuration>